$selectors: "p, h1, h2, h3, h4, h5, h6, blockquote, ul, ol";

$element_indent: "3rem";

.body {
  margin-bottom: 1rem;

  a {
    text-decoration: underline;
   }

  hr {
    margin: 0;
    border: 0;
    border-top: 1px solid var(--neutral-color);
    margin-top: 1rem;

    & + #{$selectors} {
      padding-top: 1rem;
    }
  }

  > #{$selectors} {
    border-left: 1px solid var(--neutral-color);
    border-right: 1px solid var(--neutral-color);
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #fff;

    & + hr {
      margin-bottom: 1rem;
      margin-top: 0;
    }
  }

  blockquote {
    padding-left: #{$element_indent};
    position: relative;

    &:before {
      position: absolute;
      content: "";
      border-left: 6px solid var(--accent-color);
      top: .5rem;
      bottom: .5rem;
      margin-left: -1.1rem;
    }
  }

  ul, ol {
    padding-left: #{$element_indent};
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  /* Contentful is putting empty paragraph tags underneath the last HRs */
  /* It's possible this will have negative side effects */
  p:empty:last-of-type {
    display: none;
  }

  @media screen and (max-width: 700px) {
    hr,
    #{$selectors} {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}

.imageContainer {
  position: relative;
  width: 100%;
}

.image {
  position: absolute;
  max-width: 100%;
  top: 0;
}

$column_width: "((100vw - (11 * .5rem)) / 12)";
$grid_gap: ".5rem";

.figure {
  + hr {
    margin-top: 0;
  }

  // For borders separating images
  + hr + .figure {
    padding-top: 1rem;
  }

  // In case there are empty p tags after images
  + p:empty {
    display: none;

    // And, in case there are new text block sections after *those*
    & + hr {
      margin-bottom: 0;
    }
  }
}

.caption {
  display: inline-block;
  padding-top: .25rem;
  padding-bottom: 1rem;

  // Manually calculating grid widths to properly align on mobile...
  @media screen and (max-width: 700px) {
    margin-left: calc((#{$column_width} * 2) + #{$grid_gap} + .5rem);
    margin-right: calc((#{$column_width} * 2) + #{$grid_gap} + .5rem);
  }
}
