.index {
  height: 100%;
}

.index.noActiveProject {
  background-color: var(--accent-color);

  :global(.grid-left),
  :global(.grid-widescreen-left),
  :global(.grid-right),
  :global(.grid-widescreen-right) {
    border-color: var(--background-color);
  }
}

@media screen and (max-width: 700px) {
  .index {
    background-color: var(--accent-color);
  }

  .index :global(.grid-left),
  .index :global(.grid-widescreen-left),
  .index :global(.grid-right),
  .index :global(.grid-widescreen-right) {
    border-color: var(--background-color);
  }
}

.homepageLinks {
  position: relative;
  height: calc(100vh - var(--header-height) - var(--footer-links-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.homepageLinkListItem {
  padding: .5rem 0;
}

.homepageLink {
  display: inline-block;
  position: relative;
}

.homepageLink:hover {
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .homepageLink:hover:after {
    content: "View";
    position: absolute;
    font-size: .75rem;
    font-family: var(--accent-font);
    background-color: var(--accent-color);
    text-transform: none;
    /* bottom: .95rem; */
    bottom: .45rem;
    margin-left: .5rem;
    padding: 2px 4px 1px;
  }
}
